CabinetInfirmierClient/web/WEB-INF/wsdl/localhost_8080/CabinetInfirmierServer/CabinetInfirmier.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cabinetinfirmier.miage.ujfGrenoble.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cabinetinfirmier.miage.ujfGrenoble.fr/" name="CabinetInfirmier">
<types>
<xsd:schema>
<xsd:import namespace="http://cabinetinfirmier.miage.ujfGrenoble.fr/" schemaLocation="http://localhost:8080/CabinetInfirmierServer/CabinetInfirmier?xsd=1"/>
</xsd:schema>
</types>
<message name="getStrLength">
<part name="parameters" element="tns:getStrLength"/>
</message>
<message name="getStrLengthResponse">
<part name="parameters" element="tns:getStrLengthResponse"/>
</message>
<message name="getHTML">
<part name="parameters" element="tns:getHTML"/>
</message>
<message name="getHTMLResponse">
<part name="parameters" element="tns:getHTMLResponse"/>
</message>
<message name="getNomCabinet">
<part name="parameters" element="tns:getNomCabinet"/>
</message>
<message name="getNomCabinetResponse">
<part name="parameters" element="tns:getNomCabinetResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="CabinetInfirmier">
<operation name="getStrLength">
<input wsam:Action="http://cabinetinfirmier.miage.ujfGrenoble.fr/CabinetInfirmier/getStrLengthRequest" message="tns:getStrLength"/>
<output wsam:Action="http://cabinetinfirmier.miage.ujfGrenoble.fr/CabinetInfirmier/getStrLengthResponse" message="tns:getStrLengthResponse"/>
</operation>
<operation name="getHTML">
<input wsam:Action="http://cabinetinfirmier.miage.ujfGrenoble.fr/CabinetInfirmier/getHTMLRequest" message="tns:getHTML"/>
<output wsam:Action="http://cabinetinfirmier.miage.ujfGrenoble.fr/CabinetInfirmier/getHTMLResponse" message="tns:getHTMLResponse"/>
</operation>
<operation name="getNomCabinet">
<input wsam:Action="http://cabinetinfirmier.miage.ujfGrenoble.fr/CabinetInfirmier/getNomCabinetRequest" message="tns:getNomCabinet"/>
<output wsam:Action="http://cabinetinfirmier.miage.ujfGrenoble.fr/CabinetInfirmier/getNomCabinetResponse" message="tns:getNomCabinetResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://cabinetinfirmier.miage.ujfGrenoble.fr/CabinetInfirmier/helloRequest" message="tns:hello"/>
<output wsam:Action="http://cabinetinfirmier.miage.ujfGrenoble.fr/CabinetInfirmier/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="CabinetInfirmierPortBinding" type="tns:CabinetInfirmier">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStrLength">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHTML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNomCabinet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CabinetInfirmier">
<port name="CabinetInfirmierPort" binding="tns:CabinetInfirmierPortBinding">
<soap:address location="http://localhost:8080/CabinetInfirmierServer/CabinetInfirmier"/>
</port>
</service>
</definitions>